.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main form{
    height: auto;
    border-radius: 8px;
}
.back-button{
    width: 20%;
    border-radius: 8px;
}